#header {
  background-color: var(--color-top);
  width: 100vw;
}
#header > .background > .container {
  width: 1000px;
  margin: auto;
  display: flex;
}
#header > .background > .container > .logo {
  height: 80px;
  width: 72px;
}
#header > .background > .container > .logo:hover .img-logo {
  scale: 0.7;
}
#header > .background > .container > .logo:hover .img-logo_words {
  display: none;
}
#header > .background > .container > .logo:hover .img-logo_words {
  display: none;
}
#header > .background > .container > .logo:hover .logo-word {
  display: block;
}
#header > .background > .container > .logo > .img-logo {
  margin-top: 15px;
  width: 72px;
  height: 39px;
  transition: 0.2s;
}
#header > .background > .container > .logo > .img-logo > img {
  width: 100%;
}
#header > .background > .container > .logo > .img-logo_words {
  margin-top: 3px;
  width: 72px;
  height: 8px;
}
#header > .background > .container > .logo > .img-logo_words > img {
  width: 100%;
}
#header > .background > .container > .logo > .logo-word {
  position: relative;
  display: none;
  transition: 0.5s;
}
#header > .background > .container > .logo > .logo-word > span {
  top: -5px;
  position: absolute;
  display: block;
  width: 72px;
  text-align: center;
  color: white;
  font-size: x-small;
  font-weight: 200;
}
#header > .background > .container > .nav-block {
  margin-left: 40px;
  width: 700px;
  display: flex;
}
#header > .background > .container > .nav-block > .nav > ul {
  display: flex;
}
#header > .background > .container > .nav-block > .nav > ul > li {
  box-sizing: border-box;
  display: inline-block;
  width: 88.63px;
  height: 78px;
  line-height: 80px;
  margin-left: 2px;
  padding-left: 4px;
}
#header > .background > .container > .nav-block > .nav > ul > li:hover {
  background: rgb(82, 233, 238);
  animation: changeColor 2s infinite;
  animation-delay: 2s;
  transition: 2s;
}
#header > .background > .container > .nav-block > .nav > ul > li > a {
  text-align: center;
  width: 88.63px;
  height: 78px;
  font-size: 0.875rem;
  color: #FFFFFF;
  display: block;
  font-weight: 900;
}
#header > .background > .container > .nav-block > .nav > ul > .one-explore::after {
  content: "";
  clear: both;
  display: table;
}
#header > .background > .container > .nav-block > .nav > ul > .one-explore:hover .drop-down-full {
  opacity: 1;
  z-index: 10;
  transition: 1s;
}
#header > .background > .container > .nav-block > .nav > ul > .one-explore > .drop-down-full {
  position: absolute;
  left: 0;
  width: 100vw;
  height: 300px;
  top: 78px;
  background-color: var(--color-top);
  display: flex;
  justify-content: center;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
  opacity: 0;
  transition: 1s;
  z-index: -1000;
}
#header > .background > .container > .nav-block > .nav > ul > .one-explore > .drop-down-full > ul {
  width: 1100px;
  height: 282px;
  margin-top: 18px;
  display: flex;
  justify-content: space-between;
}
#header > .background > .container > .nav-block > .nav > ul > .one-explore > .drop-down-full > ul > li {
  width: 192px;
  height: 280px;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}
#header > .background > .container > .nav-block > .nav > ul > .one-explore > .drop-down-full > ul > li > img {
  margin-top: 5px;
  display: block;
  border-radius: 20px;
  width: 192px;
  height: 280px;
  transition: 0.5s;
}
#header > .background > .container > .nav-block > .nav > ul > .one-explore > .drop-down-full > ul > li > img:hover {
  scale: 1.1;
}
#header > .background > .container > .nav-block > .nav > ul > .one-explore > .drop-down-full > ul > li > span {
  display: block;
  text-align: center;
  width: 182px;
  position: absolute;
  color: white;
  font-weight: bold;
  top: 75%;
}
#header > .background > .container > .nav-block > .nav > ul > .one-explore > .drop-down-full > ul > .one-explore-word {
  display: flex;
  flex-wrap: wrap;
  width: 190px;
}
#header > .background > .container > .nav-block > .nav > ul > .one-explore > .drop-down-full > ul > .one-explore-word > h4 {
  margin-top: -24px;
  display: block;
  color: #68A4E8;
  font-size: 21px;
}
#header > .background > .container > .nav-block > .nav > ul > .one-explore > .drop-down-full > ul > .one-explore-word > .desc {
  margin-top: -40px;
  display: flex;
  flex-wrap: wrap;
  width: 190px;
  height: 320px;
  flex-direction: column;
}
#header > .background > .container > .nav-block > .nav > ul > .one-explore > .drop-down-full > ul > .one-explore-word > .desc > p {
  width: 190px;
  display: block;
  height: 34px;
  font-weight: 520;
  font-size: 17px;
  color: white;
}
#header > .background > .container > .nav-block > .nav > ul > .one-explore > .drop-down-full > ul > .two-explore-word > .one > h4 {
  margin-top: -24px;
  display: block;
  color: #68A4E8;
  font-size: 21px;
}
#header > .background > .container > .nav-block > .nav > ul > .one-explore > .drop-down-full > ul > .two-explore-word > .one > p {
  width: 210px;
  display: block;
  height: 34px;
  font-weight: 300;
  font-size: 17px;
  color: white;
  margin-top: -40px;
}
#header > .background > .container > .nav-block > .nav > ul > .one-explore > .drop-down-full > ul > .two-explore-word > .two > h4 {
  margin-top: 14px;
  display: block;
  color: #68A4E8;
  font-size: 21px;
}
#header > .background > .container > .nav-block > .nav > ul > .one-explore > .drop-down-full > ul > .two-explore-word > .two > div {
  margin-top: -35px;
}
#header > .background > .container > .nav-block > .nav > ul > .one-explore > .drop-down-full > ul > .two-explore-word > .two > div > p {
  width: 210px;
  height: 34px;
  font-weight: 300;
  font-size: 17px;
  color: white;
}
#header > .background > .container > .nav-block > .nav > ul > .one-explore > .drop-down-full > .right-duck {
  position: absolute;
  right: 0;
  z-index: 0;
  height: 400px;
  width: 450px;
}
#header > .background > .container > .nav-block > .nav > ul > .one-explore > .drop-down-full > .right-duck > img {
  width: 100%;
  height: 100%;
}
#header > .background > .container > .nav-block > .nav > ul > .two-explore:hover .content-container {
  opacity: 1;
  z-index: 10;
}
#header > .background > .container > .nav-block > .nav > ul > .two-explore > .content-container {
  width: 100vw;
  position: absolute;
  left: 0;
  background-color: var(--color-top);
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
  opacity: 0;
  transition: 1s;
  z-index: -1000;
}
#header > .background > .container > .nav-block > .nav > ul > .two-explore > .content-container > ul {
  width: 1000px;
  margin: auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin-top: 20px;
}
#header > .background > .container > .nav-block > .nav > ul > .two-explore > .content-container > ul > li {
  height: 160px;
  text-align: center;
  display: flex;
}
#header > .background > .container > .nav-block > .nav > ul > .two-explore > .content-container > ul > li:last-child {
  display: inline-block;
  width: 200px;
}
#header > .background > .container > .nav-block > .nav > ul > .two-explore > .content-container > ul > li:nth-child(6n) {
  display: inline-block;
  display: block;
  background-color: #F7f7f7;
}
#header > .background > .container > .nav-block > .nav > ul > .two-explore > .content-container > ul > li > .inside-container {
  height: 160px;
  width: 110px;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}
#header > .background > .container > .nav-block > .nav > ul > .two-explore > .content-container > ul > li > .inside-container > img {
  display: block;
  height: 110px;
  width: 110px;
  border-radius: 50%;
  transition: 0.5s;
}
#header > .background > .container > .nav-block > .nav > ul > .two-explore > .content-container > ul > li > .inside-container > img:hover {
  scale: 1.1;
}
#header > .background > .container > .nav-block > .nav > ul > .two-explore > .content-container > ul > li > .inside-container > span {
  display: block;
  margin-top: -15px;
  font-weight: bold;
  font-size: 21px;
  width: 110px;
  text-align: center;
  color: white;
}
#header > .background > .container > .nav-block > .nav > ul > .two-explore > .content-container > ul > li > h4 {
  display: block;
  color: #68A4E8;
  font-size: 21px;
}
#header > .background > .container > .nav-block > .nav > ul > .two-explore > .content-container > ul > li > p {
  width: 200px;
  display: block;
  height: 14px;
  margin-top: -40px;
  font-weight: 720;
  font-size: 17px;
  color: white;
}
#header > .background > .container > .nav-block > .nav > ul > .three-explore:hover .content-container {
  opacity: 1;
  z-index: 10;
}
#header > .background > .container > .nav-block > .nav > ul > .three-explore > .content-container {
  position: absolute;
  left: 0;
  width: 100vw;
  background-color: var(--color-top);
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
  opacity: 0;
  transition: 1s;
  z-index: -1000;
}
#header > .background > .container > .nav-block > .nav > ul > .three-explore > .content-container > ul {
  width: 1000px;
  margin: 20px auto;
  display: flex;
  justify-content: space-evenly;
}
#header > .background > .container > .nav-block > .nav > ul > .three-explore > .content-container > ul > li {
  position: relative;
  width: 350px;
  height: 180px;
  overflow: hidden;
}
#header > .background > .container > .nav-block > .nav > ul > .three-explore > .content-container > ul > li > img {
  width: 350px;
  height: 180px;
  border-radius: 20px;
  transition: 0.5s;
}
#header > .background > .container > .nav-block > .nav > ul > .three-explore > .content-container > ul > li > img:hover {
  scale: 1.5;
}
#header > .background > .container > .nav-block > .nav > ul > .three-explore > .content-container > ul > li > span {
  position: absolute;
  left: 88px;
  bottom: 1px;
  font-weight: bolder;
  font-size: x-large;
  color: white;
}
#header > .background > .container > .nav-block > .nav > ul > .four-explore:hover .content-container {
  opacity: 1;
  z-index: 10;
}
#header > .background > .container > .nav-block > .nav > ul > .four-explore > .content-container {
  width: 100vw;
  background-color: var(--color-top);
  position: absolute;
  left: 0;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
  opacity: 0;
  transition: 1s;
  z-index: -1000;
}
#header > .background > .container > .nav-block > .nav > ul > .four-explore > .content-container > ul {
  width: 1000px;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#header > .background > .container > .nav-block > .nav > ul > .four-explore > .content-container > ul > li {
  height: 140px;
  width: 84px;
}
#header > .background > .container > .nav-block > .nav > ul > .four-explore > .content-container > ul > li:nth-child(5n) {
  margin-top: 15px;
  display: inline-block;
  display: block;
  border-radius: 100px;
  background-color: #F7f7f7;
}
#header > .background > .container > .nav-block > .nav > ul > .four-explore > .content-container > ul > li > .inside-container {
  width: 84px;
  height: 84px;
  overflow: hidden;
  border-radius: 50%;
  transition: 1s;
}
#header > .background > .container > .nav-block > .nav > ul > .four-explore > .content-container > ul > li > .inside-container > img {
  width: 84px;
  height: 84px;
}
#header > .background > .container > .nav-block > .nav > ul > .four-explore > .content-container > ul > li > .inside-container > img:hover {
  scale: 1.2;
}
#header > .background > .container > .nav-block > .nav > ul > .four-explore > .content-container > ul > li > span {
  margin-top: -22px;
  display: block;
  font-weight: bold;
  color: white;
}
#header > .background > .container > .nav-block > .nav > ul > .four-explore > .content-container > ul > li > .font {
  margin-top: -25px;
}
#header > .background > .container > .nav-block > .nav > ul > .four-explore > .content-container > ul > li > .font > p {
  width: 110px;
  height: 30px;
  display: block;
  font-weight: bold;
  color: white;
  padding: -15px;
}
#header > .background > .container > .nav-block > .nav > ul > .four-explore > .content-container > ul > li > .font > p:first-child {
  color: #68A4E8;
}
#header > .background > .container > .search {
  display: flex;
  width: 200px;
  height: 78px;
  position: relative;
}
#header > .background > .container > .search > .dingwei {
  position: absolute;
  right: 0;
  display: flex;
  height: 80px;
  width: 166px;
}
#header > .background > .container > .search > .dingwei > .search-icon {
  margin-top: 28px;
  margin-right: 45px;
}
#header > .background > .container > .search > .dingwei > .search-icon > img {
  width: 24px;
  height: 24px;
}
#header > .background > .container > .search > .dingwei > .lauange {
  display: flex;
  margin-top: 28px;
}
#header > .background > .container > .search > .dingwei > .lauange > .lauange-icon > img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
#header > .background > .container > .search > .dingwei > .lauange > span {
  color: white;
}/*# sourceMappingURL=header.css.map */