<div class="background">
    <div class="container">

        <div class="logo">
            <div class="img-logo">
                <img src="../../assert/logo.png" alt="">
            </div>
            <div class="img-logo_words">
                <img src="../../assert/logo-words.png" alt="">
            </div>
            <div class="logo-word">
                <span>首页</span>
            </div>
        </div>

        <div class="nav-block">
            <div class="nav">
                <ul>
                    <li class="one-explore" style="width: 100px;">
                        <a class="one-hover" href="#">度假区介绍</a>
                        <div class="drop-down-full">
                            <ul>
                                <li>
                                    <img src="../../assert/悬浮图/nav-img-1.jpg" alt="">
                                    <span>北京环球度假区</span>
                                </li>

                                <li>
                                    <img src="../../assert/悬浮图/nav-explore-map.png" alt="">
                                    <span>度假区地图</span>
                                </li>

                                <li class="one-explore-word">

                                    <h4>七大主题景区</h4>
                                    <div class="desc">
                                        <p>哈利·波特的魔法世界™</p>
                                        <p>变形金刚基地</p>
                                        <p>功夫熊猫盖世之地</p>
                                        <p>好莱坞</p>
                                        <p>未来水世界</p>
                                        <p>小黄人乐园</p>
                                        <p>侏罗纪世界努布拉岛</p>
                                    </div>
                                </li>

                                <li class="two-explore-word">
                                    <div class="one">
                                        <h4>城市大道</h4>
                                        <p>北京环球城市大道</p>
                                    </div>
                                    <div class="two">
                                        <h4>度假酒店</h4>
                                        <div>
                                            <p>环球影城大酒店</p>
                                            <p>诺金度假酒店</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>

                            <div class="right-duck">
                                <img src="../../assert/悬浮图/right-duck.png" alt="">
                            </div>
                        </div>
                    </li>

                    <li class="two-explore">
                        <a href="#">吃喝玩购</a>
                        <div class="content-container">
                            <ul>
                                <li>
                                    <div class="inside-container">
                                        <img src="../../assert/悬浮图/2-1.jpg" alt="">
                                        <span>玩乐</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="inside-container">
                                        <img src="../../assert/悬浮图/2-2.jpg" alt="">
                                        <span>演出</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="inside-container">
                                        <img src="../../assert/悬浮图/2-3.jpg" alt="">
                                        <span>餐厅</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="inside-container">
                                        <img src="../../assert/悬浮图/2-4.jpg" alt="">
                                        <span>商店</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="inside-container">
                                        <img src="../../assert/悬浮图/2-6.png" alt="">
                                        <span>活动</span>
                                    </div>
                                </li>
                                <li style="width: 1px; height: 150px;">

                                </li>
                                <li>
                                    <h4>会议及活动</h4>
                                    <p>企业会议及庆典活动</p>
                                </li>
                            </ul>
                        </div>

                    </li>

                    <li class="three-explore">
                        <a href="#">度假酒店</a>
                        <div class="content-container">
                            <ul>
                                <li>
                                    <img src="../../assert/悬浮图/3-1.jpg" alt="">
                                    <span>环球影城大酒店</span>
                                </li>
                                <li>
                                    <img src="../../assert/悬浮图/3-2.jpg" alt="">
                                    <span>诺金度假大酒店</span>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="four-explore">
                        <a href="#">游玩指南</a>
                        <div class="content-container">
                            <ul>
                                <li>
                                    <div class="inside-container">
                                        <img src="../../assert/悬浮图/4-1.png" alt="">
                                    </div>
                                    <span>运营时间</span>
                                </li>
                                <li>
                                    <div class="inside-container">
                                        <img src="../../assert/悬浮图/4-2.png" alt="">
                                    </div>
                                    <span>如何到达</span>
                                </li>
                                <li>
                                    <div class="inside-container">
                                        <img src="../../assert/悬浮图/4-3.png" alt="">
                                    </div>
                                    <span>行程推荐</span>
                                </li>
                                <li>
                                    <div class="inside-container">
                                        <img src="../../assert/悬浮图/4-4.png" alt="">
                                    </div>
                                    <span>游客服务</span>
                                </li>
                                
                                <li style="width: 1px; height: 95px; ">

                                </li>
                                <li>
                                    <div class="font">
                                        <p>游客须知</p>
                                        <p>安全指南</p>
                                        <p>入园须知</p>
                                        <p>酒店宾客须知</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>



                    <li><a href="#">票务信息</a></li>
                    <li style="width: 105.72px;"><a href="#">APP/小程序</a></li>
                </ul>
            </div>

            <!-- <div class="right-nav">
                <ul>
                    <li><a href="#">票务信息</a></li>
                    <li style="width: 105.72px;"><a href="#">APP/小程序</a></li>
                </ul>
            </div> -->
        </div>

        <div class="search">
            <div class="dingwei">
                <div class="search-icon">
                    <img src="../../assert/icon-search.png" alt="">
                </div>

                <div class="lauange">
                    <div class="lauange-icon">
                        <img src="../../assert/icon-language.png" alt="">
                    </div>
                    <span>English</span>
                </div>
            </div>
        </div>


    </div>
</div>