<div class="background">
    <div class="container">
        <div>
            <img src="../../assert/悬浮鸭.png" alt="">
        </div>
        <ul>
            <li class="one-coulunm">
                <h4>关注我们</h4>
                <div class="share-box">
                    <a style="font-size: 35px;" href="" class="iconfont icon-weibo"></a>&nbsp;&nbsp;
                    <a style="font-size: 35px;" href="" class="iconfont icon-weixin"></a>&nbsp;&nbsp;
                    <a style="font-size: 35px;" href="" class="iconfont icon-douyin"></a>
                </div>

                <div class="download-box">
                    <h4>官方APP/小程序</h4>
                    <div class="bg">
                        <div class="download-imgbox">
                            <img src="../../assert/wechat-qr.png" alt="">
                        </div>
                        <ul>
                            <li><a style="font-size: 25px;" href="" class="iconfont icon-QQ-circle-fill"></a></li>
                            <li><a style="font-size: 25px;" href="" class="iconfont icon-zhifubaozhifu"></a></li>
                            <li><a style="font-size: 25px;" href="" class="iconfont icon-weixin"></a></li>
                        </ul>
                        <p class="grey">手机扫码快速获取</p>
                    </div>
                </div>
            </li>


            <li class="two-coulunm">
                <h4>度假区介绍</h4>
                <div class="first-div">
                    <ul>
                        <li>
                            <h4>七大主题景区</h4>
                            <p>哈利·波特的魔法世界™</p>
                            <p>变形金刚基地</p>
                            <p>功夫熊猫盖世之地</p>
                            <p>好莱坞</p>
                            <p>未来水世界</p>
                            <p>小黄人乐园</p>
                            <p>侏罗纪世界努布拉岛</p>
                        </li>
                    </ul>

                    <ul>
                        <li>
                            <h4>城市大道</h4>
                            <p>北京环球城市大道</p>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <h4>度假酒店</h4>
                            <p>环球影城大酒店</p>
                            <p>诺金度假酒店</p>
                        </li>
                    </ul>
                </div>
            </li>


            <li class="three-coulunm">
                <div>
                    <h4>吃喝玩购</h4>
                </div>
                <ul>
                    <li>
                        <p>玩乐</p>
                        <p>演出</p>
                        <p>餐厅</p>
                        <p>酒店</p>
                        <p>商店</p>
                        <p>酒店</p>
                        <p>活动</p>
                    </li>
                </ul>
                <h4>会议及活动</h4>
                <ul>
                    <li>
                        <p>企业会议及庆典</p>
                    </li>
                </ul>
                <p>票务信息</p>
            </li>

            <li class="four-coulunm">
                <div>
                    <h4>游玩指南</h4>
                </div>
                <ul>
                    <li>
                        <p>运营时间</p>
                        <p>如何到达</p>
                        <p>行程推荐</p>
                        <p>游客服务</p>
                    </li>
                </ul>
                <h4>游客须知</h4>
                <ul>
                    <li>
                        <p>安全指南</p>
                        <p>入园须知</p>
                        <p>酒店宾客须知</p>
                    </li>
                </ul>
            </li>

            <li class="five-coulunm">
                <div>
                    <h4>关于公司</h4>
                </div>
                <ul>
                    <li>
                        <p>企业合作伙伴</p>
                        <p>关于我们</p>
                        <p>新闻</p>
                        <p>工作计划</p>
                        <p>演员甄选</p>
                    </li>
                </ul>
                <p>联系北京环球度假村</p>
                <ul>
                    <li>
                        <p>联系我们</p>
                        <p>常见问题</p>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>